<% if current_user.nil? %>
    <h1><%= @user.name %> is on Drinkspottings</h1>
    Don't miss any drinks from <%= @user.name %>.  Get your account on Drinkspottings today.
    <br />
    <strong><a href="/auth/facebook">Sign up today!</a></strong>
  </div>
<% end %>

<div class="sidebar-left">
  <p style="font-size:22px; font-family: 'Kaushan Script';"><%= @user.name %></p>
  <img src="<%= @user.fb_pic_large %>" style="border: 5px; border-style: solid; border-color: #D05C27;"/>
  <p style="padding-top:10px; font-family: 'Kaushan Script';">Drinks Spotted: <%= @drinks.count %></p>
</div>

<div class="mainarea mainarea-center">
  <%= render 'shared/drinks' %>
</div>