<% if current_user.nil? %>
    <h1><%= @user.name %> is on Drinkspottings</h1>
    Don't miss any drinks from <%= @user.name %>.  Get your account on Drinkspottings today.
    <br />
    <strong><a href="/auth/facebook">Sign up today!</a></strong>
  </div>
<% end %>

<div class="sidebar-left">
  <img src="<%= @user.fb_pic_large %>" />
  <p style="font-size:18px;"><strong><%= @user.name %></strong></p>
  <%= @drinks.count %> 
</div>

<div class="mainarea mainarea-center">
  <%= render 'shared/drinks' %>
</div>
