<% 
  #used to position the drink
  float = "left"
  posted = false 
%>

<div class="multi-columns">
  <% @drinks.each do |f| %>
    <%
      tags = Tag.find(:all, :conditions => ["drink_id = ?", f.id])
    %>
    <div class="half" style="float:<%= float %>; min-height:350px;">
      <center>
        <h6 class="handfont" style="padding-top:20px; margin-bottom:20px; font-size:20px;"><img src="/images/title-left.png" /><%= f.name %><img src="/images/title-right.png" /></h6>
        <%= image_tag f.photo.url(:medium) %>
      </center>  
      <br />
      <div class="drinkinfo">
        <a href="/users/<%= f.userid %>"><img src="<%= f.fb_pic_square %>" width="30"/></a>
        <% i = 0  %>
        <% unless f.rating.nil? %>
          <% while i < f.rating %>
            <img src="/heart.png" width="30" />
            <% i += 1 %>
          <% end %>
        <% end %>
        <br />
        <a href="/users/<%= f.userid %>"><%= f.personname %></a> at <a href="/venues/<%= f.venue_id %>"><%= f.venue_name %></a>
        <br />
        <% if f.description %>
          "<%= f.description %>"
        <% end %>
      </div>
      <br />
      <% if current_user %>
      	<% @saved_drinks.each do |s| %>
      	  <% if s.id == f.id %>
   		    <div class="drinktag">
       		  <strong><a href="/delete_save?drink_id=<%= f.id %>">&#150; Drink List</a></strong>
     	    </div>
     	    <% posted = true %>
     	  <% end %>
     	<% end %>
     	<% unless posted %>
   	      <div class="drinktag">
            <strong><a href="/new_save?drink_id=<%= f.id %>">+ Drink List</a></strong>
          </div>
        <% end %>
        <% posted = false %>
      <% end %>
    </div>
    <% if float == "left"
        float = "right"
      elsif
        float = "left"
      end %>
  <% end %>
</div>