<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP-7wNkBjb_WRCCKGTinJVK6Xg2kJKV7o&sensor=false">
</script>
<script type="text/javascript">
	  var lat = '<%= @venue.lat %>';
	  var lng = '<%= @venue.lng %>';
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(lat, lng),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
      }
    </script>
<% if current_user.nil? %>
    <h1>Follow <%= @venue.name %> on Drinkspottings</h1>
    Don't miss any drinks posted at <%= @venue.name %>.  Get your account on Drinkspottings today.
    <br />
    <strong><a href="/auth/facebook">Sign up today!</a></strong>
    <br /><br />
  </div>
<% end %>

<div class="sidebar-left">
  <p style="font-size:22px; font-family: 'Kaushan Script';"><%= @venue.name %></p>
  <div id="map_canvas" style="width:190px; height:190px; border: 5px; border-style: solid; border-color: #D05C27;"></div>
</div>

<div class="mainarea mainarea-center">
  <%= render 'shared/drinks' %>
</div>
