<script>
function validateForm()
{
  var f_name = document.forms["add_drink"]["name"].value;
  if (f_name==null || f_name=="")
  {
    alert("First name must be filled out");
    return false;
  }
  
  if (f_name==null || f_name=="")
  {
    alert("First name must be filled out");
    return false;
  }
}
</script>

<%= form_for @post, :url => { :action => "create_app" }, :html => { :multipart => true, :name => 'add_drink', :onsubmit => "return validateForm();" } do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p style="padding-left:2px;">
  	<%= f.label :rating %><br />
    <%= f.radio_button :rating, '1' %> <img src="/star.jpeg" /> <br />
    <%= f.radio_button :rating, '2' %> <img src="/star.jpeg" /> <img src="/star.jpeg" /> <br />
    <%= f.radio_button :rating, '3' %> <img src="/star.jpeg" /> <img src="/star.jpeg" /> <img src="/star.jpeg" /> <br />
    <%= f.radio_button :rating, '4' %> <img src="/star.jpeg" /> <img src="/star.jpeg" /> <img src="/star.jpeg" /> <img src="/star.jpeg" /> <br />
    <%= f.radio_button :rating, '5' %> <img src="/star.jpeg" /> <img src="/star.jpeg" /> <img src="/star.jpeg" /> <img src="/star.jpeg" /> <img src="/star.jpeg" /> <br />
  </p>
  <p><%= f.submit "Submit" %></p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 10 %>
  </p>
  <p>
    <%= check_box_tag 'whiskey', 'selected' %> Whiskey <br />
    <%= check_box_tag 'scotch', 'selected' %> Scotch <br />  
    <%= check_box_tag 'gin', 'selected' %> Gin <br />
    <%= check_box_tag 'vodka', 'selected' %> Vodka <br />
    <%= check_box_tag 'rum', 'selected' %> Rum <br />
    <%= check_box_tag 'tequila', 'selected' %> Tequila <br />
    <%= check_box_tag 'beer', 'selected' %> Beer <br />
    <%= check_box_tag 'sake', 'selected' %> Sake <br />
    <%= check_box_tag 'wine', 'selected' %> Wine <br />
  </p>
  <p>
    <% @venues.each do |v| %>
      <%= radio_button_tag 'venue', v.id %> <%= v.name %> <br />
    <% end %>
  </p>
  <%= hidden_field_tag(:posted_by, @post.posted_by) %>
  <%= hidden_field_tag(:drink_id, @post.id) %>
  <p><%= f.submit "Submit" %></p>
<% end %>