<% if current_user.nil? %>
  <div style="height:105px; padding-top:10px;">
    <h1 style="margin-bottom:15px; float:left;"><%= @user.name %> is on Drinkspottings!</h1> 
    <!-- <a href="/auth/facebook"><img src="/images/facebook-login.jpeg" style="padding-left:15px; padding-top:3px; width:20%;"></a>
    <div style="clear:both;"></div> -->
    <p>Don't miss any drinks from <%= @user.name %>.  Get your account on Drinkspottings today!</p>
  </div>
<% end %>

<div class="sidebar-left">
  <p style="font-size:22px; font-family: 'Kaushan Script';"><%= @user.name %></p>
  <img src="<%= @user.fb_pic_large %>" style="border: 5px; border-style: solid; border-color: #D05C27;"/>
  <p style="padding-top:10px; font-family: 'Kaushan Script';">Drinks Spotted: <%= @drinks.count %></p>
</div>

<div class="mainarea mainarea-center">
  <%= render 'shared/drinks' %>
</div>