<%= form_tag('/new_app_venue', :method => :get) do %>
  <%= hidden_field_tag(:drink_id, @drink_id) %>
  <%= hidden_field_tag(:lat, @lat) %>
  <%= hidden_field_tag(:long, @long) %>
  <div><%= submit_tag 'Save' %></div>
<% end -%>