<!DOCTYPE html>
<html>
<head>
  <title>Drinkspottings</title>
  
  <link href="/css/prettyPhoto.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/nivo-slider.css" media="screen" rel="stylesheet" type="text/css" />
   <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/skins.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <% if @mobile %>
    <meta name = "viewport" content = "initial-scale = 1.1">
  <% end %>



</head>
<body>
  <!-- divider for homepage -->
  <% if @home_no_current_user %>
    <div style="background: url('/images/top-border.png'); repeat-x; height:8px; position:relative; top:108px;">&nbsp;</div>
  <% end %>
  <!-- background for header when signed in -->
  <% if current_user %>
    <div style="background: url('/images/top-border.png'); repeat-x; height:8px; position:relative; top:65px;">&nbsp;</div>
  <% end %>
  <% if @mobile %>
    <div style="width:400px; padding-left:10px; padding-top:10px;">
      <%= yield %>
    </div>
  <% else %>
    <div id="root">
      <% if current_user %>
        <%= render 'layouts/header' %>
      <% end %>
      <div id="content">
	    <div class="mainarea">
          <%= yield %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @home_no_current_user %>
    <div style="background: url('/images/border-bottom.png'); repeat-x; height:11px; position:absolute; top:446px; width:100%;">&nbsp;</div>
    <div style="width:100%; background-color:#F3EEE8; margin-top:25px; height:200px; position:absolute; top:432px; z-index:-1;">
      &nbsp;
    </div>
  <% end %>
</body>
</html>
