<!DOCTYPE html>
<html>
<head>
  <title>Drinkspottings</title>
  
  <link href="/css/prettyPhoto.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/nivo-slider.css" media="screen" rel="stylesheet" type="text/css" />
   <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/skins.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <% if @mobile %>
    <meta name = "viewport" content = " initial-scale = 2.3">
  <% end %>



</head>
<body>
  <% if @mobile %>
    <div style="width:400px; padding-left:20px;">
      <%= yield %>
    </div>
  <% else %>
    <div id="root">
      <%= render 'layouts/header' %>
      <div id="content">
	    <div class="mainarea">
          <%= yield %>
        </div>
      </div>
    </div>
  <% end %>
</body>
</html>
